* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: rgb(224,70,159);
  background: linear-gradient(90deg, rgba(224,70,159,1) 0%, rgba(70,214,252,1) 100%);
}
.navBar {
  padding-top:10px;
  width: 100vw;
  height: 60px;
  background: rgb(9,7,146);
  background: linear-gradient(90deg, rgba(9,7,146,1) 0%, rgba(65,197,89,1) 100%);
  display: flex;
  justify-content: space-around;
  color:white;
  border: 2px solid black;
}
.line{
  border: 2px solid black;
}
#my-canvas {
  /* border: 2px solid #de5858;*/
  width: fit-content;
  height: fit-content;
  background: rgb(63,251,239);
background: radial-gradient(circle, rgba(63,251,239,1) 0%, rgba(252,70,248,1) 100%);;
  filter: blur(0px);
  padding: 0;
  margin: auto;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border:10px solid
  
}
.img2 {
  width: 700px;
  height: 600px;
  
}
#fullimg:hover + #h1img{
  display: inline-block;
  z-index: 10;        
}
nav:hover + #my-canvas{
  filter: blur(7px);
}

#h1img{
  display: none;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  width:400px;
  height: 300px;
  box-shadow: 5px 5px 5px 3px rgba(255, 255, 255, 0.272),-5px -5px 5px 3px rgb(255, 255, 255, 0.272);
  z-index: 10;
}
#fullimg{
  font-size: 40px;
}
#timer{
  font-size: 25px;
}
#ref{
  width: 80px;
  height: 30px;
  font-size: 20px;
  border-radius: 10px;
  
  margin-top: 0.3em;
}

button{
   background-color: black;
   color:white;
}